<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Equity Derivatives Dashboard{% endblock %}</title>
    <meta name="description" content="Dashboard d'analyse d'options vanilles, surface de volatilité.">
    <meta name="author" content="Mathis Le Gall">

    <!-- CSS personnalisé -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2.0">
    
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body data-page="{{ request.endpoint }}">
        <!-- Contenu principal -->
    <main>
        {% block content %}{% endblock %}
    </main>



    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
